backendecommerce/datasource.js

#Ignore node_modules folder inside any directory
node_modules

#Ignore datasource.js file inside any directory
datasource.js
thunder-collection_Villaizan.json
backendecommerce/.yarnclean
backendecommerce/especia-398822-3ba57fbecd96.json
backendecommerce/src/apiKeys.json
/backendecommerce/.wwebjs_auth
/backendecommerce/.wwebjs_cache
